<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src=""></script>
</head>
<body>
    <div class="main">
        <div class="sidebar">side</div>
        <div class="right-content">
            <div class="topbar">top</div>
            <div class="main-section">
                {% block content %}


                {% endblock %}
            </div>
        </div>

    </div>
    
</body>
</html>